@page
@model WebApplication1111.Pages.StoreModel
@{
    <link href="~/css/Store.css" rel="stylesheet" />

    <ol class="myList">

        <li>
            Kontakt Home
        </li>
        <li>
            Maxiaz
        </li>
        <li>
            Zel Home
        </li>
        <li>
            Bravo
        </li>
        <li>
            BazarStore
        </li>
    </ol>

}
