@page
@model PrivacyModel
@{
    ViewData["Title"] = "Lmao";
}
<h1>Shop </h1>

<h1>The best shop that u have seen ever  </h1>
<h3>this website was createde for buying some stuff and order something </h3>
<h3> if u r not able to like our shop please go out and dont come again because it is ur bigest mistake </h3>

