@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    @if (ViewData.ContainsKey("DateOfYear"))
    {
        <div>Result 1: @ViewData["DateOfYear"]</div>
    }
    @if (ViewData.ContainsKey("Random"))
    {
        <div>Result 2: @ViewData["Random"]</div>
    }
    
</div>
