@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
      
}
<link href="~/css/Notes.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js" type="module"></script>
<div class="notes-conteiner">
    <form>
        <div>U can add notes</div>
        <input type="text" placeholder="Enter Title" />
        <input type="text" placeholder="Enter EnterText" />
        <input type="button" id="add" value="add" />
    </form>
    <div >
        <ul id="list">
            <li> 
                Hello
            </li>
        </ul>
    </div>
</div>

<<<<<<< HEAD
<form>
    <div class="notes-content" >
        <div>U can add notes</div>
        <input type="text" placeholder="Enter Title" />
        <input type="text" placeholder="Enter EnterText" />
        <input type="button" value="add" />
    </div>
    <div>
        <ul> 
            <li>Hello</li>
        </ul>
    </div>

</form>
=======
>>>>>>> 8c6d836ccad6930d3660012817e24c301e8b630b
